[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gghinton"]
	path = gghinton
	url = https://github.com/robin-foster-rf/gghinton
